.env
/node_modules

/services/chat/node_modules
/services/chat/.env

/services/community/node_modules
/services/community/.env

/services/employmentexchange/node_modules
/services/employmentexchange/.env

/services/ia-comment/node_modules
/services/ia-comment/.env