.env
/node_modules

/services/chat/node_modules
/services/chat/.env

/services/community/node_modules
/services/community/.env

/services/employmentexchange/node_modules
/services/employmentexchange/.env

/services/iaimage/node_modules
/services/iaimage/.env

/services/iatext/node_modules
/services/iatext/.env

/services/notifications/node_modules
/services/notifications/.env

/services/statistics/node_modules
/services/statistics/.env